<div class="quotes-body mt-4">
    <div class="container-fluid">
        <!--    ================= tab header ====================-->
        <div class="row tab_header">
            <div class="col tab_header_border d-flex align-content-center justify-content-around" >
                <p class="mt-1">MySQL</p>
            </div>
        </div>
        <!--    ====================================================-->
        <div class="row t2">
            <div class="col d-flex align-content-center justify-content-around left" >
                <textarea class="custom-input-entrada m-3 custom_input_area"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex create_button_area bg-dark justify-content-around align-content-center" >
                <button class="m-2 create_button" mat-button>Substituir</button>
            </div>
        </div>
    </div>
</div>

